*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #f6f3f3;
    background: rgba(50, 13, 199, 0.5);
}

#chk1{
    display: none;   
}

i{
    color: #fff;
    cursor: pointer;
}

header .logo{
    flex: 0.2;
    color:#fff;
    height: 80px;
    width: 2px;
    margin-left: 10px;
    font-size: 5px;

}

header .search-box{
    flex: 0.5;
    position:relative ;
    margin: 0 auto;
    display: inline-block;  
}

.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f4f2f2;
    border-radius: 30px;
    color:rgb(9, 8, 8);
    font-size: 18px;
    padding-left: 50px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: rgb(65, 98, 189);
    color: #fff;
}

.product-card {
    border: 0.6px solid #eae6e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 3px;
    display: none;  
    flex-direction:column;
    overflow: hidden;
    width: 200px;
    margin: 30px;
  }

  .all-products :nth-child(1),
  .all-products :nth-child(2),
  .all-products :nth-child(3),
  .all-products :nth-child(4){
    display: inline-block;
  }
  
  .product-card img {
    width: 100%;
  }
  
  .product-info {
    padding: 8px;
  }
  
  .product-info .description {
    color: #666;
    font-size: 14px;
    margin: 10px 0;
  }

  /* .product-info h2 {
    font-size: 24px;
    margin: 0;
  } */

  .product-info .price {
    color: #090909;
    font-size: 18px;
    margin: 0;
  }
  
  .see-details {
    background-color: #00bfff;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-left: 4px;
    border-radius: 17px;

  }

  .float-container .all-productss{
    padding-top: 100px;
    width: 80%;
    float: left;
    padding: 20px;
    
  }

  .all-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .all-products :hover {
    opacity: 0.8;
  }

  .all-products :hover img {
    transform: scale(1.1);
    transition: all 0.5s ease;
  }

  .all-products , .all-products description{
    margin: 0;
    text-align: center;
  }

  .all-products img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: all 0.5s ease;
  }
  
  .all-products , .all-products description{
    font-weight: bold;
  }

  .float-container {
    border: 3px solid #fff;
    padding: 20px;
    padding-top: 60px;
  }

#filters{
    width: 20%;
}

.filters{
    padding-top: 40px;
}

#load-more{
    display: inline-block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding: 13px 30px;
    border: 1px solid #334;
    color: #334;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
      
}

#load-more:hover{
    background-color: #00bfff;
    border-color: #00bfff;
    color: #fff;
}

/* body{
  min-height: 100vh;
} */

.sticky-footer{
  position: sticky;
  top: 100px;
}





@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    /* header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    } */
     
    
    #chk1:checked ~ ul{
        right: 0;
        
    }
  
}

@media(max-width:450px){
    header .logo{
        flex: 0.2;
        color:#fff;
        height: 80px;
        width: 2px;
        margin-left: 10px;
        font-size: 5px;
    }

}